.wrapper {
  margin-left: 2rem;
  margin-right: 2rem;
  display: grid;
  place-items: center;
  height: 100vh;
}

li {
  list-style: none;
}

.listEntry {
  display: flex;
  align-items: center;
  justify-content: start;
}
