@font-face {
  font-family: "Comic Neue";
  src: url(../assets/fonts/ComicNeue-Regular.ttf);
  font-weight: normal;
}

@font-face {
  font-family: "Comic Neue";
  src: url(../assets/fonts/ComicNeue-Bold.ttf);
  font-weight: bold;
}

:root {
  --primary-color: #06514e;
  --secondary-color: #eaebeb;
}

.dark {
  --primary-color: #eaebeb;
  --secondary-color: #06514e;
}

* {
  font-family: "Comic Neue", sans-serif;
}

body {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.wrapper {
  margin-left: 2rem;
  margin-right: 2rem;
  display: grid;
  place-items: center;
  height: 100vh;
}

.title {
  margin-bottom: 2rem;
  font-weight: bold;
  font-size: 2rem;
}

.toggleAndAddTodoButtons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  border-bottom: 1px solid var(--primary-color);
  padding-bottom: 1rem;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.filterBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 1rem;
}

@media (min-width: 600px) {
  .filterBox {
    flex-direction: row;
    justify-content: space;
  }
}

.filterButton {
  margin-bottom: 0.5rem;
}

@media (min-width: 600px) {
  .filterButton {
    margin-bottom: 0;
  }
}

.listEntry {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 1rem;
  border-bottom: 1px solid var(--primary-color);
  padding: 0.5rem 0;
}

@media (min-width: 600px) {
  .listEntry {
    grid-template-columns: auto 25rem auto auto auto;
  }
}

.primaryButton {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: 1px solid var(--primary-color);
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
}

.primaryButton:hover {
  background-color: transparent;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  transition: 0.3s;
}

.iconArrowTrendingUp {
  height: 1rem;
  width: 1rem;
  fill: var(--primary-color);
}

p {
  margin: 0;
}

.statusAndDurationBox {
  height: 100%;
}
